<?xml version="1.0"?>
<config>
    <modules>
        <Mediotype_Ticket>
            <version>1.1.0</version>
        </Mediotype_Ticket>
    </modules>
    <global>
        <models>
            <mediotype_ticket>
                <class>Mediotype_Ticket_Model</class>
                <resourceModel>mediotype_ticket_resource</resourceModel>
            </mediotype_ticket>
            <mediotype_ticket_resource>
                <class>Mediotype_Ticket_Model_Resource</class>
                <entities>
                    <order>
                        <table>mediotype_ticket</table>
                    </order>
                    <scanrecord>
                        <table>mediotype_ticket_scanlog</table>
                    </scanrecord>
                </entities>
            </mediotype_ticket_resource>
            <cataloginventory>
                <rewrite>
                    <stock>Mediotype_Ticket_Model_CatalogInventory_Stock</stock>
                </rewrite>
            </cataloginventory>
        </models>
        <blocks>
            <mediotype_ticket>
                <class>Mediotype_Ticket_Block</class>
            </mediotype_ticket>
        </blocks>
        <helpers>
            <mediotype_ticket>
                <class>Mediotype_Ticket_Helper</class>
            </mediotype_ticket>
        </helpers>
        <resources>
            <mediotype_ticket_setup>
                <setup>
                    <module>Mediotype_Ticket</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mediotype_ticket_setup>
        </resources>
        <catalog>
            <product>
                <type>
                    <simpleticket translate="label" module="catalog">
                        <label>Event &amp; Ticket</label>
                        <model>mediotype_ticket/product_type_simpleticket</model>
                        <is_qty>1</is_qty>
                        <index_data_retreiver>mediotype_ticket/catalogIndex_data_simpleticket</index_data_retreiver>
                        <price_model>mediotype_ticket/product_price</price_model>
                        <composite>0</composite>
                    </simpleticket>
                    <configurable translate="label" module="catalog">
                        <allow_product_types>
                            <simple/>
                            <virtual/>
                            <simpleticket/>
                        </allow_product_types>
                    </configurable>
                    <grouped translate="label" module="catalog">
                        <allow_product_types>
                            <simple/>
                            <virtual/>
                            <simpleticket/>
                        </allow_product_types>
                    </grouped>
                </type>
            </product>
        </catalog>
        <events>
            <sales_order_place_after>
                <observers>
                    <mediotype_ticket>
                        <class>Mediotype_Ticket_Model_Observer</class>
                        <method>generateTickets</method>
                    </mediotype_ticket>
                </observers>
            </sales_order_place_after>
            <sales_order_save_after>
                <observers>
                    <check_for_order_status_for_ticket_available>
                        <class>Mediotype_Ticket_Model_Observer</class>
                        <method>processTicketsByOrderStatus</method>
                    </check_for_order_status_for_ticket_available>
                </observers>
            </sales_order_save_after>
            <checkout_cart_save_before>
                <observers>
                    <mediotype_ticket>
                        <class>Mediotype_Ticket_Model_Observer</class>
                        <method>validateBuyer</method>
                    </mediotype_ticket>
                </observers>
            </checkout_cart_save_before>
            <adminhtml_catalog_product_edit_element_types>
                <observers>
                    <mediotype_ticket>
                        <class>Mediotype_Ticket_Model_Observer</class>
                        <method>addInputRenderToAdminForm</method>
                    </mediotype_ticket>
                </observers>
            </adminhtml_catalog_product_edit_element_types>
            <checkout_allow_guest>
                <observers>
                    <mediotype_ticket>
                        <class>Mediotype_Ticket_Model_Observer</class>
                        <method>checkoutAllowGuest</method>
                    </mediotype_ticket>
                </observers>
            </checkout_allow_guest>
        </events>
        <template>
            <email>
                <mediotype_ticket_ticket_email_template translate="label" module="mediotype_ticket">
                    <label>Mediotype Ticket Email</label>
                    <file>mediotype/ticket.html</file>
                    <type>html</type>
                </mediotype_ticket_ticket_email_template>
            </email>
        </template>

    </global>
    <frontend>
        <layout>
            <updates>
                <mediotype_ticket>
                    <file>mediotype_ticket.xml</file>
                </mediotype_ticket>
            </updates>
        </layout>
        <routers>
            <ticket>
                <use>standard</use>
                <args>
                    <module>Mediotype_Ticket</module>
                    <frontName>ticket</frontName>
                </args>
            </ticket>
        </routers>
        <translate>
            <modules>
                <Mediotype_Ticket>
                    <files>
                        <default>Mediotype_Ticket.csv</default>
                    </files>
                </Mediotype_Ticket>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <mediotype_ticket>
                <use>admin</use>
                <args>
                    <module>Mediotype_Ticket</module>
                    <frontName>mediotype_ticket</frontName>
                </args>
            </mediotype_ticket>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <mediotype_ticket>
                        <class>Mediotype_ticket_Model_Observer</class>
                        <method>setMediotypeSessionId</method>
                    </mediotype_ticket>
                </observers>
            </admin_session_user_login_success>
        </events>
        <layout>
            <updates>
                <mediotype_ticket>
                    <file>mediotype_ticket.xml</file>
                </mediotype_ticket>
            </updates>
        </layout>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <simple/>
                        <virtual/>
                        <configurable/>
                        <grouped/>
                        <simpleticket/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <translate>
            <modules>
                <Mediotype_Ticket>
                    <files>
                        <default>Mediotype_Ticket.csv</default>
                    </files>
                </Mediotype_Ticket>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <mediotype_ticket>
            <ticket_email>
                <allow_guest_add_to_cart>0</allow_guest_add_to_cart>
                <ticket_is_available_on>complete</ticket_is_available_on>
                <stock_update_on_available>0</stock_update_on_available>
                <ticket_print_download>0</ticket_print_download>
                <send_on_checkout>complete</send_on_checkout>
                <canceled_status>canceled</canceled_status>
                <template>mediotype_ticket_ticket_email_template</template>
            </ticket_email>
        </mediotype_ticket>
    </default>
</config>
