<?xml version="1.0"?>
<config>
    <modules>
        <Addedbytes_Duplicatecmspage>
            <version>0.1.1</version>
        </Addedbytes_Duplicatecmspage>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <cms_page_edit>Addedbytes_Duplicatecmspage_Block_Adminhtml_Cms_Page_Edit</cms_page_edit>
                </rewrite>
                <rewrite>
                    <cms_block_edit>Addedbytes_Duplicatecmspage_Block_Adminhtml_Cms_Block_Edit</cms_block_edit>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Addedbytes_Duplicatecmspage before="Mage_Adminhtml">Addedbytes_Duplicatecmspage_Adminhtml</Addedbytes_Duplicatecmspage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
