<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Iways_PaypalInstalments>
            <version>1.1.4</version>
        </Iways_PaypalInstalments>
    </modules>
    <global>
        <models>
            <iways_paypalinstalments>
                <class>Iways_PaypalInstalments_Model</class>
            </iways_paypalinstalments>
            <sales>
                <rewrite>
                    <order_pdf_invoice>Iways_PaypalInstalments_Model_Order_Pdf_Invoice</order_pdf_invoice>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <iways_paypalinstalments>
                <class>Iways_PaypalInstalments_Helper</class>
            </iways_paypalinstalments>
        </helpers>
        <blocks>
            <iways_paypalinstalments>
                <class>Iways_PaypalInstalments_Block</class>
            </iways_paypalinstalments>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Iways_PaypalInstalments_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Iways_PaypalInstalments_Block_Adminhtml_Sales_Invoice_Totals</sales_order_invoice_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <pdf>
            <totals>
                <iways_paypalinstalments_fee translate="title">
                    <title>Fee</title>
                    <source_field>instalments_fee_amt</source_field>
                    <font_size>8</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>5550</sort_order>
                </iways_paypalinstalments_fee>
                <iways_paypalinstalments_fee_total translate="title">
                    <title>Grand Total (incl. Fee)</title>
                    <source_field>instalments_fee_amt</source_field>
                    <model>iways_paypalinstalments/order_pdf_invoice_fee_total</model>
                    <font_size>8</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>5551</sort_order>
                </iways_paypalinstalments_fee_total>
            </totals>
        </pdf>
        <sales>
            <quote>
                <totals>
                    <iways_paypalinstalments_fee>
                        <class>iways_paypalinstalments/total_quote_fee</class>
                        <renderer>iways_paypalinstalments/total_renderer</renderer>
                        <after>grand_total</after>
                    </iways_paypalinstalments_fee>
                    <iways_paypalinstalments_fee_total>
                        <class>iways_paypalinstalments/total_quote_fee_total</class>
                        <after>iways_paypalinstalments_fee</after>
                        <renderer>iways_paypalinstalments/total_renderer</renderer>
                    </iways_paypalinstalments_fee_total>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <iways_paypalinstalments_fee>
                        <class>iways_paypalinstalments/total_invoice_fee</class>
                        <after>grand_total</after>
                    </iways_paypalinstalments_fee>
                    <iways_paypalinstalments_fee_total>
                        <class>iways_paypalinstalments/total_invoice_fee_total</class>
                        <after>iways_paypalinstalments_fee</after>
                    </iways_paypalinstalments_fee_total>
                </totals>
            </order_invoice>
        </sales>
        <fieldsets>
            <sales_convert_quote>
                <instalments_fee_amt><to_order>*</to_order><to_invoice>*</to_invoice></instalments_fee_amt>
                <base_instalments_fee_amt><to_order>*</to_order><to_invoice>*</to_invoice></base_instalments_fee_amt>
            </sales_convert_quote>
            <sales_convert_order>
                <instalments_fee_amt>
                    <to_quote>*</to_quote>
                    <to_invoice>*</to_invoice>
                </instalments_fee_amt>
                <base_instalments_fee_amt>
                    <to_quote>*</to_quote>
                    <to_invoice>*</to_invoice>
                </base_instalments_fee_amt>
            </sales_convert_order>
        </fieldsets>
        <resources>
            <iways_paypalinstalments_setup>
                <setup>
                    <module>Iways_PaypalInstalments</module>
                    <class>Mage_Sales_Model_Entity_Setup</class>
                </setup>
            </iways_paypalinstalments_setup>
        </resources>
    </global>
    <frontend>
        <secure_url>
            <iways_paypalinstalments>/instalments/instalments</iways_paypalinstalments>
        </secure_url>
        <routers>
            <iways_paypalinstalments>
                <use>standard</use>
                <args>
                    <module>Iways_PaypalInstalments</module>
                    <frontName>instalments</frontName>
                </args>
            </iways_paypalinstalments>
        </routers>
        <layout>
            <updates>
                <iways_paypalinstalments>
                    <file>iways_paypalinstalments.xml</file>
                </iways_paypalinstalments>
            </updates>
        </layout>
        <translate>
            <modules>
                <Iways_PaypalInstalments>
                    <files>
                        <default>Iways_PaypalInstalments.csv</default>
                    </files>
                </Iways_PaypalInstalments>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Iways_PaypalInstalments>
                    <files>
                        <default>Iways_PaypalInstalments.csv</default>
                    </files>
                </Iways_PaypalInstalments>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <sales>
            <totals_sort>
                <discount>20</discount>
                <grand_total>100</grand_total>
                <shipping>30</shipping>
                <subtotal>10</subtotal>
                <tax>40</tax>
                <iways_paypalinstalments_fee>4999</iways_paypalinstalments_fee>
                <iways_paypalinstalments_fee_total>5000</iways_paypalinstalments_fee_total>
            </totals_sort>
        </sales>
        <payment>
            <iways_paypalinstalments>
                <active>1</active>
                <title>Ratenzahlung Powered by PayPal</title>
                <min_order_total>99</min_order_total>
                <payment_action>Sale</payment_action>
                <model>iways_paypalinstalments/instalments</model>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <order_status>processing</order_status>
                <line_items_enabled>1</line_items_enabled>
                <publisher_id backend_model="adminhtml/system_config_backend_encrypted"></publisher_id>
                <client_id backend_model="adminhtml/system_config_backend_encrypted"></client_id>
                <client_secret backend_model="adminhtml/system_config_backend_encrypted"></client_secret>
            </iways_paypalinstalments>
        </payment>
    </default>
</config>