<?xml version="1.0"?>
<config>
    <modules>
        <Diecrema_Startpage>
            <version>0.2.0</version>
        </Diecrema_Startpage>
    </modules>
    <frontend>
        <routers>
            <startpage>
                <use>standard</use>
                <args>
                    <module>Diecrema_Startpage</module>
                    <frontName>startpage</frontName>
                </args>
            </startpage>
        </routers>
        <layout>
            <updates>
                <diecrema_startpage>
                    <file>startpage.xml</file>
                </diecrema_startpage>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <startpage>
                <use>admin</use>
                <args>
                    <module>Diecrema_Startpage</module>
                    <frontName>startpage</frontName>
                </args>
            </startpage>
        </routers>
        <layout>
            <updates>
                <diecrema_startpage>
                    <file>startpage.xml</file>
                </diecrema_startpage>
            </updates>
        </layout>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <diecrema_startpage>
                    <file>startpage.xml</file>
                </diecrema_startpage>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <diecrema_startpage>
                <class>Diecrema_Startpage_Block</class>
            </diecrema_startpage>
        </blocks>
        <helpers>
            <diecrema_startpage>
                <class>Diecrema_Startpage_Helper</class>
            </diecrema_startpage>
        </helpers>
        <models>
            <diecrema_startpage>
                <class>Diecrema_Startpage_Model</class>
                <resourceModel>diecrema_startpage_mysql4</resourceModel>
            </diecrema_startpage>
            <diecrema_startpage_mysql4>
                <class>Diecrema_Startpage_Resource_Mysql4</class>
                <entities>
                    <startpage>
                        <table>startpage</table>
                    </startpage>
                </entities>
            </diecrema_startpage_mysql4>
        </models>

        <resources>
            <diecrema_startpage_setup>
                <setup>
                    <module>Diecrema_Startpage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </diecrema_startpage_setup>
            <diecrema_startpage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </diecrema_startpage_write>
            <diecrema_startpage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </diecrema_startpage_read>
        </resources>
    </global>
</config>