<?xml version="1.0"?>
<config>
    <modules>
        <NRApps_Idealo>
            <version>1.3.1</version>
        </NRApps_Idealo>
    </modules>

    <global>
        <models>
            <nrapps_idealo>
                <class>NRApps_Idealo_Model</class>
                <resourceModel>nrapps_idealo_resource</resourceModel>
            </nrapps_idealo>

            <nrapps_idealo_resource>
                <class>NRApps_Idealo_Model_Resource</class>
                <entities>
                    <index>
                        <table>nrapps_idealo_index</table>
                    </index>
                </entities>
            </nrapps_idealo_resource>
        </models>

        <blocks>
            <nrapps_idealo>
                <class>NRApps_Idealo_Block</class>
            </nrapps_idealo>
        </blocks>

        <helpers>
            <nrapps_idealo>
                <class>NRApps_Idealo_Helper</class>
            </nrapps_idealo>
        </helpers>

        <resources>
            <nrapps_idealo_setup>
                <setup>
                    <module>NRApps_Idealo</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </nrapps_idealo_setup>
        </resources>

        <index>
            <indexer>
                <nrapps_idealo>
                    <model>nrapps_idealo/indexer</model>
                </nrapps_idealo>
            </indexer>
        </index>
        <template>
            <email>
                <nrapps_idealo_email_error_template translate="label" module="nrapps_idealo">
                    <label>Error Messages: Template</label>
                    <file>nrapps_idealo_error.html</file>
                    <type>text</type>
                </nrapps_idealo_email_error_template>
            </email>
        </template>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <NRApps_Idealo after="Mage_Adminhtml">NRApps_Idealo_Adminhtml</NRApps_Idealo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <NRApps_Idealo>
                    <files>
                        <default>NRApps_Idealo.csv</default>
                    </files>
                </NRApps_Idealo>
            </modules>
        </translate>
        <layout>
            <updates>
                <nrapps_idealo>
                    <file>nrapps/idealo.xml</file>
                </nrapps_idealo>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_adminhtml_idealo_attributes_index>
                <observers>
                    <feedgenerator_install>
                        <type>singleton</type>
                        <class>nrapps_idealo/observer</class>
                        <method>onAttributesControllerActionPredispatch</method>
                    </feedgenerator_install>
                </observers>
            </controller_action_predispatch_adminhtml_idealo_attributes_index>
            <controller_action_predispatch_adminhtml_idealo_settings_index>
                <observers>
                    <feedgenerator_install>
                        <type>singleton</type>
                        <class>nrapps_idealo/observer</class>
                        <method>onConfigControllerActionPredispatch</method>
                    </feedgenerator_install>
                </observers>
            </controller_action_predispatch_adminhtml_idealo_settings_index>
            <admin_session_user_login_success>
                <observers>
                    <nrapps_idealo>
                        <type>singleton</type>
                        <class>nrapps_idealo/observer</class>
                        <method>onAdminUserLoginSuccess</method>
                    </nrapps_idealo>
                </observers>
            </admin_session_user_login_success>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <nrapps_idealo>
                        <type>singleton</type>
                        <class>nrapps_idealo/observer</class>
                        <method>onConfigChange</method>
                    </nrapps_idealo>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <nrapps_idealo>
                        <type>singleton</type>
                        <class>nrapps_idealo/observer</class>
                        <method>afterConfigChange</method>
                    </nrapps_idealo>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
        </events>
    </adminhtml>

    <frontend>
        <translate>
            <modules>
                <NRApps_Idealo>
                    <files>
                        <default>NRApps_Idealo.csv</default>
                    </files>
                </NRApps_Idealo>
            </modules>
        </translate>
    </frontend>

    <default>
        <nrapps_idealo>
            <existing_offers_deleted>0</existing_offers_deleted>
            <attributes>
                <manufacturer/>
                <delivery_time/>
                <shipping_cost/>
                <shipping_comment/>
                <oen/>
                <kba/>
                <ean/>
                <han/>
                <pzn/>
                <is_used/>
                <is_rebuild/>
                <has_contract/>
                <is_ecommerce_checkout_approved/>
                <merchant/>
            </attributes>
            <settings>
                <is_active>1</is_active>
                <test_mode>1</test_mode>
                <api_update_url>https://partner.idealo.de/partnerWs/v1/updateOffers</api_update_url>
                <api_get_url>https://partner.idealo.de/partnerWs/v1/getOffers</api_get_url>
                <disable_certificate_check>0</disable_certificate_check>
                <logging>1</logging>
            </settings>
            <product_options>
                <allowed_product_types>all</allowed_product_types>
                <allowed_attribute_sets>all</allowed_attribute_sets>
                <configurable_child_products_price>parent_without</configurable_child_products_price>
                <configurable_export_type>export_parent</configurable_export_type>
                <add_attributes_to_export>a:1:{s:18:"_1425401241417_417";a:1:{s:14:"attribute_code";s:5:"color";}}</add_attributes_to_export>
                <export_flexible_price_bundles>0</export_flexible_price_bundles>
            </product_options>
            <listing>
                <listing_at>DE</listing_at>
            </listing>
            <shipping>
                <shipping_costs_calculation_method>price</shipping_costs_calculation_method>
                <shipping_costs>a:1:{s:18:"_1425462208957_957";a:3:{s:5:"dummy";s:18:"custom_design_from";s:10:"from_price";s:1:"0";s:4:"cost";s:4:"4.90";}}</shipping_costs>
                <shipping_costs_by_weight>a:1:{s:18:"_1425469115961_961";a:3:{s:5:"dummy";s:18:"custom_design_from";s:11:"from_weight";s:1:"0";s:4:"cost";s:4:"3.50";}}</shipping_costs_by_weight>
                <payment_methods>a:3:{s:18:"_1237006651133_135";a:3:{s:14:"payment_method";s:7:"PREPAID";s:9:"surcharge";s:4:"0.00";s:19:"percental_surcharge";s:4:"0.00";}s:18:"_1367006661853_853";a:3:{s:14:"payment_method";s:3:"COD";s:9:"surcharge";s:4:"0.00";s:19:"percental_surcharge";s:4:"0.00";}s:18:"_1367006666619_619";a:3:{s:14:"payment_method";s:10:"CREDITCARD";s:9:"surcharge";s:4:"0.00";s:19:"percental_surcharge";s:4:"0.00";}}</payment_methods>
                <percental_surcharge_calculation_method>product</percental_surcharge_calculation_method>
            </shipping>
            <shipping_at>
                <shipping_costs_calculation_method>price</shipping_costs_calculation_method>
                <percental_surcharge_calculation_method>product</percental_surcharge_calculation_method>
            </shipping_at>
            <shipping_int>
                <shipping_costs_calculation_method>price</shipping_costs_calculation_method>
                <percental_surcharge_calculation_method>product</percental_surcharge_calculation_method>
            </shipping_int>
            <default_values>
                <is_ecommerce_checkout_approved>1</is_ecommerce_checkout_approved>
            </default_values>
            <minimum_order_weight_surcharge>
                <unit>kg</unit>
            </minimum_order_weight_surcharge>
        </nrapps_idealo>
    </default>

    <crontab>
        <jobs>
            <nrapps_idealo_transfer_all>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>nrapps_idealo/api::transferAll</model>
                </run>
            </nrapps_idealo_transfer_all>
        </jobs>
    </crontab>
</config>